body {
    margin: 0px; 
    font-family: 'Neucha';
    background-color: #DED8CD;
}

.cover {
    margin: 0;
}

.coverimage {
    position: relative;
}

.coverimage h1 {
    z-index: 5;
    font-size: 60px;
    font-family: "Montez";
    height: 90px;
    margin: 0;
    text-align: center;
    border-bottom: 3px solid #DB9A7D;
    position: relative;
}

.coverimage img {
    z-index: 1;
    width: 100vw;
    height: calc(100vh - 90px);
    margin: 0;
    opacity: 0.7;
}

button:focus { 
    outline: none; 
}

a {
    color: #634F40;
    text-decoration: none;
}

.parent {
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #CEBDA5;
}

.block {
    height: 100%;
    padding: 0px 40px;
}

.directions {
    border: 6px double #DB9A7D;
    background-color: #DED8CD;
    padding: 10px; 
    margin: 40px;
    font-size: 27px;
    text-align: center;
}

button {
    border-radius: 20px;
    background-color: #CEBDA5;
}

button, .dropdown {
    height: 65px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.dropdown {
    height: 600px;
    display: none;
    border-top: transparent; 
    overflow: hidden;
    overflow: scroll;
}

.title {
    font-size: 30px;
    margin: 10px;
    font-family: "Neucha";
}

img {
    margin: 14px 29px;
}

#cupcakepic {
    filter: brightness(145%);
}

#creampuffpic {
    filter: brightness(90%);
}

.images {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.centering {
    left: 14.5%;
}

.center {
    left: 29.5%;
}

.pastry {
    background-repeat: no-repeat;
    background-size: 280px;
    height: 185px;
    width: 265px;
    margin: 2%;
}

.image1 {
    background-image: url("./pastry/cookie.jpg");
}

.image2 {
    background-image: url("./pastry/pb.jpg");
}

.image3 {
    background-image: url("./pastry/shortbread.JPG");
}

.image4 {
    background-image: url("./pastry/cake.JPG");
}

.image5 {
    background-image: url("./pastry/reinedesaba.JPG");
}

.image6 {
    background-image: url("./pastry/cc.png");
}

.image7 {
    background-image: url("./pastry/brownies.jpg");
}

.image8 {
    background-image: url("./pastry/blondeb.JPG");
}

.image9 {
    background-image: url("./pastry/bbtm.JPG");
}

.image10 {
    background-image: url("./pastry/ccm.JPG");
}

.image11 {
    background-image: url("./pastry/bbs.png"); 
}

.image12 {
    background-image: url("./pastry/creampuffs.jpg"); 
}

.txt {
    position: relative;
    top: 146px;
    background: #000000ad;
    width: 92.4%;
    padding: 10px;
    font-size: 17px;
}

.maintxt {
    margin: 10px 40px;
    font-size: 25px;
}

footer {
    margin: 40px 0px 10px;
    text-align: center;
}