body {
  background-color: #f0ebf4; 
  font-family: 'Heebo';
  margin: 0; 
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html,body{
  overflow-x: hidden;
}

svg {
  margin: 10px 0 10px 0px;
}

.section {
  margin: 0;
  height: 100vh;
  width: auto;
  list-style: none;
  position: relative;
}

#header {
  position: fixed;
  width: 100%;
  background-color: #EEEEEE; 
  top: 0; 
  left: 0;
  z-index: 1000;
}

h1 {
  text-align: center;
  margin: 10px;
  font-family: 'Dancing Script';
  font-weight: 100;
  font-size: 50px;
  text-decoration: none;
  color: black;
}

.myName:hover {
  text-decoration: none;
  color: black;
}

#menu {
  background-color: #f172a1; 
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  border: #e64398 1px solid;
}

#menu a {
  color: white;
  display: inline-block;
  text-align: center;
  padding: 0.9%;
  width: 20%;
  text-decoration: none;
  letter-spacing: 0.2vw;
}

#menu a:hover {
  color: white;
  background-color: #e64398; 
}

#hpt {
  position: relative;
  text-align: center;
  background-color: #b39bc8; 
  height: 100%;
}
#hptb {
  position: absolute;
  left: 50%;
  bottom: 0%;  
}

#hptb a {
  text-decoration: none;
  font-size: 50px;
  color: #f0ebf4;
  opacity: .7;
}

#hptb a:hover {
  color: indigo
}

#container {
  padding: 0;
  margin: 0; 
}

#welcome {
  display: flex;
  float: left;
  top: 15%;
  position: relative;
  font-size: 30px;
  color: #ffffffe0;
  padding: 20px;
  margin: 30px;
  align-items: center;
}

#welcomeText{
  flex: 1 1 0;
  margin-right: 15px; 
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}

#welcomeImg{
  flex: 1 1 0; 
  margin-left: 15px;
}

#welcomeTextOne {
  font-size: 60px;
  font-family: 'Heebo';
  line-height: 65px;
  font-weight: 600;
}

.welcomeTextTwo {
  font-size: 25px;
}

h2 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 40px;
  font-family: 'Staatliches';
  margin: 0;
}

.abtitle {
  text-align: left;
  margin: 0 0 2% 0;
}

.whitespace {
  margin: 50px;
}

#aboutme {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.abone {
  flex: 1 1;
}

.abtwo {
  flex: 1 1 6px;
}

.abbullet {
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.profilePic {
  margin: 0 5vw 0 10vw;
  border-radius: 20px;
  box-shadow: 2px 4px 9px #968d9e;
}

#btn{
  position: relative;
}

#btn a {
  text-decoration: none;
  border: 3px #af9bbf solid;
  color:  #212529;
  padding: 10px;
  border-radius: 10px; 
  text-align: center;
  font-size: 18px;
}

#btn a.contactmebtn {
  left: 230px;
}

#btn a:hover {
   background-color: #af9bbf;
}

.resumedownload {
  cursor: pointer;
  margin: 5px;
}

.resumedownload span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.resumedownload span:after {
  content: '\2913';
  opacity: 0;
  top: 0;
  right: -20px;
}

.resumedownload:hover span {
  padding-right: 15px;
}

.resumedownload:hover span:after {
  opacity: 1;
  right: 0;
}

.contactmebtn {
  cursor: pointer;
  margin: 5px;
  right: 20%;
}

.contactmebtn span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.contactmebtn span:after {
  content: '\226B';
  opacity: 0;
  top: 0;
  right: -20px;
}

.contactmebtn:hover span {
  padding-right: 15px;
}

.contactmebtn:hover span:after {
  opacity: 1;
  right: 0;
}

#skills {
  display: flex;
  flex-wrap: nowrap;
  background-color: #a1c3d1; 
  height: 100%; 
  position: relative;
  align-items: center;
}

.skill {
  position: relative;
  flex-grow: 1 1 0;
  margin: 0 5vw 0 10vw; 
}

.skill2 {
  padding: 0px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  display: inline-flex;
  flex-grow: 1 1 0;
  width: 50%;
}

#demo {
  display: inline-block;
  position: relative;
  max-width: 215px;
  min-width: 150px;
  margin: 20px 80px 20px 0px;
  font-size: 1.2em;
  text-align: justify;
}

.stitle {
  text-align: left;
}

.skillbox {
  height: 335px;
  width: 175px;
  margin: 15px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px; 
  box-shadow: 2px 4px 9px #5d90a5;
  text-align: center;
  background-color: white;
  overflow-wrap: scroll;
  position: relative;
  font-family: 'Staatliches';
  font-size: 1.2em;
}

.skillboxText {
  margin: 2px 0px 2px 0px;
}

#projects {
  position: relative;
  height: 100%;
}

#projectsul:before {
  pointer-events: none;
  box-shadow: inset 25px 0px 25px -25px rgba(0,0,0,0.2), inset -25px 0px 25px -25px rgba(0,0,0,0.2);
  width: 85%;
  height: 330px;
  content: '';
  position: absolute;
}

#projectsul {
  width: 85%;
  height: 330px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
}

#projs {
  padding: 10% 0 3% 0;
}

.proj {
  height: 315px;
  width: 341px;
  padding: 5px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px; 
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  text-align: center;
  background-color: white; 
}

.projtext {
  font-size: 15px;
  margin: 10px 25px;
  text-align: left;
  white-space: pre-wrap;
  text-align: justify;
}

.projname {
  font-size: 25px;
  margin: 5px;
  text-align: center;
}

.projname a:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease; 
  box-shadow: inset 0 -3px 0 #a1c3d1;
  background-color: #a1c3d1;
}

a.projlink {
  text-decoration: none;
  color: #212529;
  cursor: pointer;
  box-shadow: inset 0 -3px 0 #a1c3d1;
}

a.projlinkTwo {
  text-decoration: none;
  color: #212529;
  cursor: pointer;
  box-shadow: inset 0 -3px 0 #a1c3d1;
}

a.projlinkTwo:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease; 
  box-shadow: inset 0 -3px 0 #a1c3d1;
  background-color: #a1c3d1;
}

.line {
  border: 0;
  height: 2px;
  background: #333;
  margin: 8px;
  background-image: linear-gradient(to right, #f0ebf4, #b39bc8, #f0ebf4);
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.round {
  text-decoration: none;
  border-radius: 50%;
  margin: 20px;
  background: transparent;
  border: none;
  font-size: 50px;
  font-family: 'Staatliches';
}

#leftbutton {
  margin-left: 30px;
  text-align: center;
}

button:focus {
  outline: 0;
}

button:hover {
  font-size: 60px;
}

.projskill {
  display: inline-block;
  margin: 3px 3px 3px 2px;
  font-size: 10px;
  padding: 2px 7px;
  border-radius: 3px;
  color: #ff00e5;
  border: #ff00e5 1px solid;
}

.callemail {
  text-decoration: none;
  margin: 0px 70px;
  display: inline-block;
  clear: left;
}

#contactinfo {
  background-color: #a1c3d1; 
  position: relative;
  height: 100%;
}

#contactbar {
  display: flex;
  height: 60px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#contacttitle {
  padding: 15% 0 3% 0; 
}

.soc {
  display: flex;
  margin: 15px;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  border: 5px #5d90a5 solid;
  color: black;
}

.soc:hover {
  background: #5d90a5;
} 

.socmed {
  margin: 0px 30px 0px 0px; 
}

.socmed img {
  width: 55px;
}

a.socmedLink {
  text-decoration: none;
}

.contactText {
  color: #212529;
  margin: auto;
  font-family: 'Staatliches';
  font-size: 20px;
}

.contactText:hover {
  text-decoration: none;
}

hr {
  margin-top: 0;
  border: black 0.5px solid;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 15px; 
  }
  
  .centeredHeaderText {
    font-size: 10px;
  }
}

footer {
  margin: 10px;
  text-align: center;
}

